################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/Projects/Plugins/bin
/Projects/Plugins/obj
